<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PushPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PushPost.Properties.Settings>
            <setting name="TempReferenceFilename" serializeAs="String">
                <value>refs.temp.xml</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseConfirmations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInsertMarkup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxQueueSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ConfirmBeforeRemove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBRelativeFilename" serializeAs="String">
                <value>posts_(alpha0.2)_10.mdf</value>
            </setting>
            <setting name="QueueFolderPath" serializeAs="String">
                <value>queue</value>
            </setting>
            <setting name="PreviewFolderPath" serializeAs="String">
                <value>previews</value>
            </setting>
            <setting name="AutosaveLocation" serializeAs="String">
                <value>autosaves</value>
            </setting>
            <setting name="AutosaveFilenameFormat" serializeAs="String">
                <value>autosaved_{0}.xml</value>
            </setting>
            <setting name="SiteExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PostsPerPage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImagesSubfolder" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="ImageSizes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>480</string>
                        <string>600</string>
                        <string>775</string>
                        <string>1080</string>
                        <string>1440</string>
                        <string>1600</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PushPost.Properties.Settings>
    </userSettings>
</configuration>