/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html, body {
	height:100%;
}

body {
	margin: 0;
	/*padding-bottom: */
	background: #2e2e2e;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

html, body, #wrapper {
	min-height: 100%;
}

#wrapper {
	overflow: hidden;
}

#post-body {
	border-left: 1px solid rgba(255, 255, 255, 0.01);
	border-right: 1px solid rgba(255, 255, 255, 0.01);
}

p {
	color: #bababa;
	font-size: 1em;
	font-weight: 300;
	line-height: 180%;
	padding-top: 10px;
	padding-right: 250px;
	margin-left: 25px;
}

p.footer {
	font-size: 80%;
	line-height: 100%;
	margin-top: 2em;
}

h1 {
	color: white;
	font-size: 1.5em;
	line-height: 210%;
	font-weight: 300;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	border-bottom: 1px dotted #3e3e3e;
}

img {
	width:600px;
	height:auto;
	margin: 25px;
}

#sub-header {
	color: #7b7b7b;
	font-size: 0.75em;
	float:right;
	padding-top: 5px;
	padding-right: 25px;
	position: relative;
	top: -22px;
}

.author {
	font-size:1.15em;
}

.date {
	font-size:1.15em;
}

#primary-column {
	margin-top: 117px;
	width:860px;
	margin-left: auto;
	margin-right: auto;	
	
	padding-bottom: 150px;
}

@media screen and (max-width: 860px){
	#primary-column {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	p {	
		padding-right: 25px !important;
	}
}

#primary-column a {
	text-decoration: none;
	color: inherit;
}

#primary-column a:hover {
	text-decoration: underline;
}

#navigation-bar {
	width: 100%;
	height: 100px;
	top: 0px;
	background: rgba(255, 255, 255, 0.87);
	font-size: 0.9em;
	
	position: fixed;
	z-index: 10;
}

#header-center {
	width:860px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
}

#logo-image {	
	background: url(../img/logo.png) no-repeat;
	background-position: center;
	width: 265px;
	height: 53px;
	margin-left: 25px;
}

#navigation-links {
	margin-top:5px;
	margin-left:25px;
}

#navigation-links a {	
	color: #525252;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation-links a:hover {	
	text-decoration: underline;
}

#navigation-bar-bottom {
	z-index: 10;
	text-align: left;
	vertical-align: top;
	
	background: rgba(255, 255, 255, 0.03);
	border-top: 1px solid #757575;	
	
	position: relative;
	bottom: 0;
	padding: 1rem;
	
	width: 860px;
	height: 75px;
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
	/*
	border-top: 1px solid #757575;	
	color: white;
	display: inline-block;
	display: -moz-inline-box;
	*/
}

#navigation-bar-bottom a {
	color: #bababa;
} 

#copyright {	
	color: #7b7b7b;
	font-size: 0.75em;
	float:right;
	padding-top: 50px;
	padding-right: 25px;
}

a.spacer {
	color: #b8b8b8;
	padding-left: 20px;
	padding-right: 20px;
}

a.spacer:hover {
	text-decoration: none !important;
}

a.current {
	font-weight: bold;
}

a.current:hover {	
	text-decoration:none !important;
}


.prettyprint {
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 75%;
	background: rgba(0,0,0,0.50);
}